<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
  <span class="pull-right"> {{created_at | date: 'short'}}</span>
  <h3>{{title}}</h3>
  <p>{{content}}</p>
  <button type="button" class="btn btn-success"
  (click)="onLike()" >love it</button>
  <button type="button" class="btn btn-danger"
  (click)="onDislike()" >Dont love It</button>
  <button type="button" class="pull-right , btn btn-danger" (click)="onDeletePost(post)">supprimer post</button>
  {{ loveIts }}
</li>


